<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.gdei.filemanager">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.AnnouncementActivity"
            android:label="@string/title_activity_announcement"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
        <activity
            android:name=".main.FilesActivity"
            android:label="@string/title_activity_files"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
        <activity
            android:name=".main.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".main.NewFileActivity"
            android:label="@string/title_activity_new_file"
            android:parentActivityName=".main.FilesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.FilesActivity" />
        </activity>
        <activity
            android:name=".main.FileContentActivity"
            android:label="@string/title_activity_file_content"
            android:parentActivityName=".main.FilesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.edu.gdei.filemanager.main.FilesActivity" />
        </activity>
        <activity
            android:name=".main.AnnouncementContentActivity"
            android:label="@string/title_activity_announcement_content"
            android:parentActivityName=".main.AnnouncementActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.edu.gdei.filemanager.main.AnnouncementActivity" />
        </activity>
    </application>

</manifest>